<!DOCTYPE html>
<html>

<head>

  <title>Dashboard</title>

  <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet"
    type="text/css">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">


  <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="styles/normalize.css">
  <link rel="stylesheet" href="styles/skeleton.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- JS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();
  </script>

  <script>
    // Pie-Chart
    $(function () {
      $('.circle-graph').easyPieChart({
        scaleColor: false,
        lineWidth: 25,
        lineCap: 'butt',
        barColor: '#00FFB1',
        trackColor: '#330A2A',
        size: 200,
        animate: 2500
      });
    });



  </script>


  <!-- SEO meta-tags
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="title" content="">



</head>

<body>



  <!-- Dark overlay menu  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <nav id="overlay-nav">
    <div id="nav-content">
      <ul>
        <li>
          <a href="/createlobby">Spielen</a>
        </li>
        <li>
          <a href="#">Kontakt</a>
        </li>
        <li>
          <a href="#">Impressum</a>
        </li>
        <%if (authenticated = true) { %>
          <li>
            <form action="/logout" method="/post">
              <button class="button button-primary" type="submit">Logout</button>
            </form>
          </li>
          <%} %>
      </ul>
    </div>
  </nav>
  <div class="container">

    <!-- Top row   –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="row" style="position:relative;">
      <h2>Name</h2>

      <div id="menu-icon-shape">
        <div id="menu-icon">
          <div id="top"></div>
          <div id="middle"></div>
          <div id="bottom"></div>
        </div>
      </div>

    </div>

    <!-- First row   –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="row dark_B padding_25 light_F">


      <!-- Account Infos   –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <div class="eight columns dark_B padding_25">


        <div class="row">
          <div class="four columns">
            <img height="200px" src="<%= gravURL %>" style="border-radius:50%;" class="Grava" width="200px">
          </div>
          <div class="eight columns" style="min-height:220px;">
            <h1 class="Headline backcolor">
              <span>Userprofile</span>
              <%= username %>
            </h1>
            <div class="candidatos italia">
              <div class="parcial">
                <div class="info">
                  <div class="nome">Level 01</div>
                </div>
                <div class="progressBar">
                  <div class="percentagem" style="width: 86.13%;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="four columns">
            <h4>Last Games:</h4>
            <P>
              <strong>Lose</strong> again Max
              <BR>
              <strong>Lose</strong> again Bruttos
              <BR>
              <strong>Lose</strong> again xXxPatrickxXx
              <BR>
              <strong>Lose</strong> again MircoMitC
              <BR>
              <strong>Lose</strong> again Max</P>

          </div>

          <div class="two columns">

            <h1 class="Headline">
              <span>Rang</span>
              230
            </h1>

            <h1 class="Headline">
              <span>Score</span>
              435
            </h1>
          </div>

          <div class="six columns">
            <div class="containergraph">
              <section class="graph-one">
                <div class="circle-graph-container">
                  <div class="circle-graph" data-percent="80">
                    <h1 class="Headline">
                      <span>Win/Lose</span>43/34</h1>
                  </div>
                </div>
              </section>
            </div>
          </div>

        </div>

      </div>


      <!-- Wanna play?   –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <div class="four columns">
        <h1 class="Headline">
          <span>Wanna Play?</span>Create
        </h1>

        <h1 class="Headline">
          <span>or</span>Search
        </h1>

        <!-- Space   –––––––––––––––––––––––––––––––––––––––––––––––––– -->

        <div class="space padding_12 row "></div>

        <div class="row">

          <div class="dark_B tweleve column padding_25 goGame">
            <script>
              document.getElementById("checkBox").disabled = true;
            </script>
            <form action="/createGame" method="post">
              <button class="button button-primary button_float_right" type="submit">
                <span class="fa Example of pencil-square-o fa-pencil-square-o"></span>Create</button>
              <input checked name="notclick" type="radio" value="notclick"> One vs. One
              <br>
              <span class="disabledinput">
                <input disabled="disabled" id="checkBox" name="notclick" type="radio" value="notclick"> All vs. All</span>
              <br>
              <span class="disabledinput">
                <input disabled="disabled" id="checkBox" name="notclick" type="radio" value="notclick"> One vs. Pc</span>
            </form>
          </div>
        </div>

        <!-- Space   –––––––––––––––––––––––––––––––––––––––––––––––––– -->

        <div class="space padding_12 row"></div>

        <div class="row">
          <div class="dark_B tweleve column padding_25 goGame">
            <script>
              let username = '<%= username %>';
              let socketUserName = '<%= username %>';
            </script>


            <form action="/joinGame" method="post">
              <% if (joinLobbyErrors.length < 0) { %>
                <ul>
                  <% for(let i = 0; i < joinLobbyErrors.length; i++) { %>
                    <li>
                      <%- joinLobbyErrors[i]%>
                    </li>
                    <% } %>
                </ul>
                <% } %>
                  <form action="/createGame" method="post">
                    <button class="button button-primary button_float_right" type="submit">
                      <span class="fa Example of pencil-square-o fa-search"></span>Search</button>

                    <input checked name="notclick" type="radio" value="notclick"> One vs. One
                    <br>
                    <span class="disabledinput">
                      <input disabled="disabled" id="checkBox" name="notclick" type="radio" value="notclick"> All vs. All</span>
                    <br>
                    <span class="disabledinput">
                      <input disabled="disabled" id="checkBox" name="notclick" type="radio" value="notclick"> One vs. Pc</span>
                    <input class="button_float_right test" type="text" name="roomcode" placeholder="Enter Room Code">

                  </form>

            </form>

          </div>
        </div>


      </div>

      <!-- Space   –––––––––––––––––––––––––––––––––––––––––––––––––– -->

      <div class="space padding_25 row"></div>

      <!-- NEWS   –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <div class="row">
        <div class="eight columns dark_B padding_25">

          <div class="row">
            <div class="twelve columns">
              <h1 class="Headline">
                <span>Whats new?</span>News</h1>
            </div>
          </div>



          <div class="row">
            <div class="three columns">
              <img height="120px" src="https://www.gravatar.com/avatar/a8f5f167f44f4964e6c998dee827110c" style="border-radius:50%;" class="Grava"
                width="120px">
            </div>
            <div class="nine columns">
              <h2>Neues Update</h2>
              <p class="new_p">n enim justo, rhoncus ut, imperdiet a, venenatis vitae, jusrhoncus ut, i...</p>
              <p class="new_name">
                <%= username %>
              </p>
            </div>
          </div>

          <div class="row">
            <div class="three columns">
              <img height="120px" src="https://www.gravatar.com/avatar/a8f5f167f44f4964e6c998dee827110c" style="border-radius:50%;" class="Grava"
                width="120px">
            </div>
            <div class="nine columns">
              <h2>Neues Update</h2>
              <p class="new_p">n enim justo, rhoncus ut, imperdiet a, venenatis vitae, jusrhoncus ut, i...</p>
              <p class="new_name">
                <%= username %>
              </p>
            </div>
          </div>

          <div class="row">
            <div class="three columns">
              <img height="120px" src="https://www.gravatar.com/avatar/a8f5f167f44f4964e6c998dee827110c" style="border-radius:50%;" class="Grava"
                width="120px">
            </div>
            <div class="nine columns">
              <h2>Neues Update</h2>
              <p class="new_p">n enim justo, rhoncus ut, imperdiet a, venenatis vitae, jusrhoncus ut, i...</p>
              <p class="new_name">
                <%= username %>
              </p>
            </div>
          </div>

        </div>


        <div class="four columns dark_B padding_25">
          <h1 class="Headline">
            <span>Numbers and Facts</span>Statistics</h1>
          <div>
            <h1 class="Headline">
              <span>Score</span>
              3942
            </h1>
            <h1 class="Headline">
              <span>Win/lose</span>
              23/34
            </h1>
            <ul>
              <li>
                <span>Rang 1</span>
                <img height="30px" src="https://www.gravatar.com/avatar/a8f5f167f44f4964e6c998dee827110c" style="border-radius:50%;" class="Grava"
                  width="30px"> Max
              </li>
              <li>
                <span>Rang 2</span>
                <img height="30px" src="https://www.gravatar.com/avatar/a8f5f167f44f4964e6c998dee827110c" style="border-radius:50%;" class="Grava"
                  width="30px"> Peter
              </li>
              <li>
                <span>Rang 3</span>
                <img height="30px" src="https://www.gravatar.com/avatar/a8f5f167f44f4964e6c9dddee827110c" style="border-radius:50%;" class="Grava"
                  width="30px"> Patrick
              </li>
              <li>
                <span>Rang 4</span>
                <img height="30px" src="https://www.gravatar.com/avatar/a8f5f167f44f4964e6c99sadee827110c" style="border-radius:50%;" class="Grava"
                  width="30px"> Mrco
              </li>
              <li>
                <span>Rang 5</span>
                <img height="30px" src="https://www.gravatar.com/avatar/a8f5f167f44f4964e6c99sadee827110c" style="border-radius:50%;" class="Grava"
                  width="30px"> Mrco
              </li>
            </ul>
            <button class="button button-primary button_float_right" type="submit">
              Feedback
            </button>

          </div>
        </div>
      </div>
    </div>


    <!-- Statistics   –––––––––––––––––––––––––––––––––––––––––––––––––– -->



    <!-- Footer  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="row" id="footer">
      <p>&#169; 2017 by
        <strong>After Work</strong>
      </p>
      <a href="/impressum">impressum</a>
    </div>

  </div>
  <div class="three columns" style="background-color:#330A2A; height:12px;width:25%;margin:0;"></div>
  <div class="three columns" style="background-color:#937C8E; height:12px;width:25%;margin:0;"></div>
  <div class="three columns" style="background-color:#00FFB1; height:12px;width:25%;margin:0;"></div>
  <div class="three columns" style="background-color:#E8E9EB; height:12px;width:25%;margin:0;"></div>



  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script type="text/javascript" src="styles/rellax.js"></script>
  <script type="text/javascript" src="styles/menu_scroll_type_modal.js"></script>


</body>

</html>