<!DOCTYPE html>
<html>
  <head>

    <title>Schützen, Schießen, Nachladen</title>
 
    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/skeleton.css">
   <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 -->
    <!-- JS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js"></script>    
    <script src="//cdnjs.cloudflare.com/ajax/libs/velocity/0.7.0/jquery.velocity.min.js"></script>    
    <script src="/socket.io/socket.io.js"></script>
    <script> const socket = io(); </script>
    <script>
        var authenticated = '<%= authenticated %>';
        
        if(authenticated==='true'){
          authenticated=true;
        }else{
          authenticated=false;
        }
      </script>   
    <script>
        // Onbeforeload
        window.onbeforeunload=function(){
          return "Are you sure to leave this page? If you are alone in this lobby, this lobby will be deleted!";
        }



    </script>


    <!-- SEO meta-tags
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="description" content="">
    <meta name="keywords" content="">   
    <meta name="title" content="">



  </head>
<body class="align-left">


<div id="afterloader"></div>


<div class="wrapperLoader">
  <div class="yellow">
<svg  class="bulletsvg" version="1.1" id="Ebene_1" style="margin:-200px 0 0 0;" xmlns="&ns_svg;" xmlns:xlink="&ns_xlink;" width="208.057" height="82.866"
	 viewBox="0 0 208.057 82.866" overflow="visible" enable-background="new 0 0 208.057 82.866" xml:space="preserve">
<g>
  <polygon fill="#330A2A" points="25.89,75.778 72.566,61.913 88.676,65.738 74.893,76.314 	" />
  <polygon fill="#330A2A" points="0,14.877 65.668,7.207 86.329,16.078 65.422,27.014 	" />
</g>
<g>
  <g>
    <path fill="#330A2A" d="M144.88,29.059c0,0-3.464,4.356-3.163,5.347c0.102,0.335,0.327,0.439,0.327,0.439
			s22.882,0.093,30.761,3.612c2.081,0.929,2.364,1.006,2.364,1.006S170.753,30.519,144.88,29.059z M146.764,0l1.521,9.237
			l-27.64-1.252c-0.001,0-0.001,0-0.002,0L97.981,6.956l17.842,16.176l-32.695,5.493L0.526,42.5l79.026,12.092l36.119,5.528
			L99.138,77.236l24.922-1.644l0.009-0.003l8.444-0.556l15.809-1.043l-1.056,8.875c0,0,60.531-27.062,60.79-41.799
			C208.337,25.536,146.764,0,146.764,0z M136.909,58.647c-5.125,0.009-11.695-30.003,1.448-36.261c0,0,15.409-0.351,26.079,3.6
			c14.908,5.518,21.802,15.151,21.802,15.151s-6.254,6.924-12.486,10.859C160.831,60.158,142.031,58.64,136.909,58.647z
			 M193.863,40.222c-0.752,5.602-8.443,11.337-19.628,16.853C185.418,51.559,193.11,45.824,193.863,40.222
			c1.465-10.904-35.493-22.658-66.34-30.521C158.369,17.563,195.329,29.317,193.863,40.222z" />
  </g>
</g>
</svg>

  </div>

<div class="longfazers">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
<div class="buttonPreLoader">
  <h2>Reload.io</h2>
    <p id="RoomCode">
      <%= roomcode %>
    </p>
  <button id="js-button-ready" class="js-button-ready button button-dark button-primary">Ready</button>
</div>
</div>

</div>





  <!-- Menu icon 
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div id="menu-icon-shape">
    <div id="menu-icon">
      <div id="top"></div>
      <div id="middle"></div>
      <div id="bottom"></div>
    </div>
  </div>
  
  <!-- Dark overlay menu 
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <nav id="overlay-nav">
    <div id="nav-content">
      <ul>
        <li><a href="/">Start</a></li>          
        <li><a href="/impressum">Impressum</a></li>
        <% if (authenticated) { %> 
          <li> 
            <form action="/logout" method="/post">
              <button type="submit" class="button button-primary">Logout</button>
            </form>
          </li> <% } %>
      </ul>
    </div>
  </nav>
  


  <!-- First content box 
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <h2 id="titel" class="titel">Reload.io</h2>

  <div id="box1"  class="row height_100 dark_B padding_25 margin_25 light text-center">







  <div class="enemy" id="enemy">
    <p>Gegnername</p>
    <img src="<%= gravURL %>" class="gamesImg">      
  </div>


  <div class="player" id="player">

      <img src="<%= gravURL %>" class="gamesImg">
  </div>



    <div class="cir2 togglePop js-button-leave" id="js-button-shoot">
      <img src="http://www.krischanschupp.de/uni/3.svg">2
    </div>
           
    <div class="cir2 togglePop js-button-shoot" id="js-button-shoot">
      <img src="http://www.krischanschupp.de/uni/3.svg">2
    </div>

<div class="cir-box">
  <div class="cir-mini-box">
    <div class="cir2 togglePop js-button-pistol" id="js-button-pistol">
      <img src="http://www.krischanschupp.de/uni/3.svg">2
    </div>
    <div class="cir3 togglePop js-button-rifle">
      <img src="http://www.krischanschupp.de/uni/3.svg">1
    </div>
    <div class="cir4 togglePop js-button-reload">
      <img src="http://www.krischanschupp.de/uni/4.svg">
    </div>

    <div class="cir5 togglePop js-button-protect">
      <img src="http://www.krischanschupp.de/uni/2.svg">
    </div>


    <div class="cir6 togglePop js-button-shotgun">
      <img src="http://www.krischanschupp.de/uni/3.svg">3
    </div>

  
  </div>

  <div class="main-cir" id="main-cir">
    <img src="http://www.krischanschupp.de/uni/2.svg" />
  </div>
</div>



  </div>

  <script>
    roomcode= '<%= roomcode%>';
    username= '<%= username %>';
    gravURL= '<%= gravURL %>';
  </script>

  
  <!-- Footer
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div id="footer"  class="row" >
    <p>&#169; 2017 by <strong>After Work</strong></p> <a href="/impressum">impressum</a>
  </div>





  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script type="text/javascript" src="styles/rellax.js"></script>
  <script type="text/javascript" src="styles/menu_scroll_type_modal.js"></script>
  <script type="text/javascript" src="game.js"></script>    
  
  <script>

    window.onload = changeButtonStatus();
    console.log('Change Button');
  </script>

  
</body>

</html>