<!DOCTYPE html>
<html>
  <head>

    <title>Schützen, Schießen, Nachladen</title>
 
    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/skeleton.css">

    <!-- JS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js"></script>    
    <script src="//cdnjs.cloudflare.com/ajax/libs/velocity/0.7.0/jquery.velocity.min.js"></script>    
    <script src="/socket.io/socket.io.js"></script>
    <script> const socket = io(); </script>
    <script>
        var authenticated = '<%= authenticated %>';
        
        if(authenticated==='true'){
          authenticated=true;
        }else{
          authenticated=false;
        }
      </script>   
    <script>
        // Onbeforeload
        window.onbeforeunload=function(){
          return "Are you sure to leave this page? If you are alone in this lobby, this lobby will be deleted!";
        }
    </script>


    <!-- SEO meta-tags
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="description" content="">
    <meta name="keywords" content="">   
    <meta name="title" content="">



  </head>
<body class="align-left playground">


    <div class="js-button-shoot display-none" id="js-button-shoot">
      <img src="http://www.krischanschupp.de/uni/3.svg">2
    </div>


<div id="afterloader"></div>



<div class="wrapperLoader">
  <div class="yellow">
    <img class="bulletsvg" src="styles/img/bulletdark.svg" style="margin:-200px 0 0 0;">
 </div>
<div class="longfazers">
  <span></span><span></span><span></span><span></span>
</div>
<div class="buttonPreLoader">
  <h2>Reload.io</h2>
    <p id="RoomCode">
      <%= roomcode %>
    </p>
  <button id="js-button-ready" class="js-button-ready button button-dark button-primary">Ready</button>
</div>
</div>
</div>




  <!-- Menu icon 
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div id="menu-icon-shape">
    <div id="menu-icon">
      <div id="top"></div>
      <div id="middle"></div>
      <div id="bottom"></div>
    </div>
  </div>
  
  <!-- Dark overlay menu 
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <nav id="overlay-nav">
    <div id="nav-content">
      <ul>
        <li><a href="/">Start</a></li>          
        <li><a href="/impressum">Impressum</a></li>
        <% if (authenticated) { %> 
          <li> 
            <form action="/logout" method="/post">
              <button type="submit" class="button button-primary">Logout</button>
            </form>
          </li> <% } %>
      </ul>
    </div>
  </nav>
  


  <!-- First content box 
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <h2 id="titel" class="titel">Reload.io</h2>

  <div id="box1"  class="row height_100 dark_B padding_25 margin_25 light text-center">





  <div class="enemy playerimage" id="enemy">
    <p id="enemyname">
      Gegnername</p>
    <p id="liveenemy">
    </p>
    <p id="enemyammo">
    </p>

  </div>


      <p id="roundcounter"></p>



  <div class="player playerimage  <%= username %>" id="player" style="background-image: url('<%= gravURL %>') !important;" >

<p id="liveplayer">
</p>
<p id="ammoplayer">
</p>


  </div>

           


<div class="cir-box">
  <div class="cir-mini-box">



 <button class="cir6 togglePop js-button-shotgun">
      <img src="/styles/img/bullet_shoot3.svg">
    </button>
        <button class="cir5 togglePop js-button-rifle">
          <img src="/styles/img/bullet_shoot2.svg">
        </button>

    <button class="cir4 togglePop js-button-pistol" id="js-button-pistol">
      <img src="/styles/img/bullet.svg">
    </button>
      <button class="cir3 togglePop js-button-protect">
        <img src="/styles/img/shield.svg">
      </button>
    <button class="cir2 togglePop js-button-reload">
      <img src="/styles/img/3bullets.svg">
    </button>
  

  
  </div>

  <div class="main-cir" id="main-cir">
    <img src="/styles/img/menu.svg" />
  </div>
</div>



  </div>

  <script>
    roomcode= '<%= roomcode%>';
    username= '<%= username %>';
    gravURL= '<%= gravURL %>';
  </script>

  
  <!-- Footer
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div id="footer"  class="row" >
    <p>&#169; 2017 by <strong>After Work</strong></p> <a href="/impressum">impressum</a>
  </div>



  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script type="text/javascript" src="styles/rellax.js"></script>
  <script type="text/javascript" src="styles/menu_scroll_type_modal.js"></script>
  <script type="text/javascript" src="game.js"></script>    

  
  <script>
    window.onload = changeButtonStatus();
  </script>

  
</body>

</html>